.titleText{
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
}

.input{
  text-align: center;
  margin-top: 50px;
}

.inputBox{
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 14px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
}

.output{
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}